{% extends "html/base.html" %}
{% block title %}Update Platform{% endblock %}
{% block head %}{% endblock %}
{% block body %}

<div class="container mt-4">
{% include 'html/flash_messages.html' %}
</div>

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6 text-center">
            <h2>Choose Update Type</h2>
            <div class="list-group mt-4">
                <a href="/update_parameters" class="list-group-item list-group-item-action">Parameters</a>
                <a href="/update_attributes" class="list-group-item list-group-item-action">Attributes</a>
            </div>
        </div>
    </div>
</div>

{% endblock %}

